@extends('layouts.app')

@section('content')

    <!-- Content Row -->
    <div class="row">
        
        @role('admin')
        <h1>hello admin</h1>
        @endrole

    </div>
    <!-- End of Main Content -->


@endsection
