<div class="card" style="width: 100%">
    <ul class="list-group list-group-flush p-0" style="position: relative;">
        <a href="">
            <li class="list-group-item d-flex flex-row">
                <img src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="" width="85" height="70">
                {{ $news }}
            </li>
        </a>
    </ul>
</div>