<div class="col-md-3">
    <div class="program-container">
        <a href="">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="" height="300" width="100%">
            <p>{{ $news }}</p>
        </a>
    </div>
</div>
