<div class="col-md-4 col-sm-6">
    <a href="">
        <div class="card" style="width: 100%; margin-bottom:20px;">
            <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" height="200" width="100%" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ $news }}</h5>
                <span class="card-text">اكتب عن هذا الخبر اكتب عن هذا الخبر </span>
            </div>
        </div>
    </a>
</div>